<div class="content-header">
	<div class="content-right-btn-container">
		<button class="btn control-btn" onclick="show_blasts('reset')"><i class="material-icons">&#xE5D5;</i></button>
		<button id="addBlastBtn" class="btn control-btn"><i class="material-icons md-30">add</i></button>
		<button id="deleteBlastsBtn" data-toggle="modal" data-target="#deleteBlastsModal" class="btn control-btn hidden"><i class="material-icons">&#xE872;</i></button>
		<div class="pagination-btn-container">
			<div class="pagination-label-container">
				<span class="pagination-label"><strong id="paginationShowingBlasts">{{ showing }}</strong></span>
				<span class="pagination-label separator">of</span>
				<span class="pagination-label"><strong id="paginationTotalBlasts">{{ total_entries }}</strong></span>
			</div>
			{% if prev_btn == 'enabled' %}
			<button class="btn pagination-btn left blast" onclick="blast_prev_page()"><i class="material-icons">&#xE5CB;</i></button>
			{% else %}
			<button class="btn pagination-btn left blast" onclick="blast_prev_page()" disabled><i class="material-icons">&#xE5CB;</i></button>
			{% endif %}

			{% if next_btn == 'enabled' %}
			<button class="btn pagination-btn right blast" onclick="blast_next_page()"><i class="material-icons">&#xE5CC;</i></button>
			{% else %}
			<button class="btn pagination-btn right blast" onclick="blast_next_page()" disabled><i class="material-icons">&#xE5CC;</i></button>
			{% endif %}
		</div>
	</div>
</div>
{% if not blasts[0] %}
<div id="emptyBlast" class="empty-overlay">
	<span class="empty-label">No records yet.</span>
</div>
{% endif %}
<div id="contentBody" class="content-body">
	<table class="table content-table">
		<thead>
			<tr class="search-panel conversation">
				<td class="icon-td">
					<span id="clearBlastsSearch" class="hidden link" onclick="show_blasts('reset')">Clear Search</span>
				</td>
				<td class="blast-recipient-td">
					<input type="text" id="searchBlastsSender" class="form-control search-blasts search-text" placeholder="Sender">
				</td>
				<td class="blast-message-td">
					<input type="text" id="searchBlastsContent" class="form-control search-blasts search-text" placeholder="Message">
				</td>
				<td class="blast-date-td align-right">
					<input type="text" id="searchBlastsDate" class="form-control search-blasts search-text align-right datepicker" placeholder="Date">
				</td>
			</tr>
		</thead>
		<tbody id="blastsTbody">
			{% for entry in blasts %}
			<tr>
				<td class="icon-td">
					<i data-id="{{ entry.id }}" class="blasts-check material-icons">&#xE835;</i>
				</td>
				<td class="blast-recipient-td" onclick="open_blast({{ entry.id }})">{{ entry.sender_name }}</td>
				<td class="blast-message-td" onclick="open_blast({{ entry.id }})">{{ entry.content }}</td>
				<td class="blast-date-td align-right" onclick="open_blast({{ entry.id }})">{{ entry.date }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<script type="text/javascript">
$('#addBlastBtn').on('click', function (e) {
    $('#messageContainer').show();
    $('#messageContainer').removeClass('minimized');
    $('#messageBody').focus();
});

$(".datepicker").datepicker({
    dateFormat: "MM dd, yy"
});

$('.search-blasts').keypress(function(e){
    if (e.which == 13) {
        search_blasts($(this).attr('id'));
    }
});

$('.blasts-check').on('click', function () {
  var entry_id = $(this).attr('data-id');
  if ($(this).hasClass('checked')) {
    $(this).removeClass('checked');
    $(this).html('&#xE835;');
    deselect_blast(entry_id);
  }
  else {
    $(this).addClass('checked');
    $(this).html('&#xE834;');
    select_blast(entry_id);
  }
});

</script>